*
.container{
display: flex;
justify-content:space-around;

}
.box{
    width: 200px ;
    height: 250px;
    text-align: center;
    font-size: 2em;
}
#box1
{ background-color: rgb(197, 20, 20);
}
#box2
{background-color: rgba(10, 27, 2, 0.582);}
#box3
{background-color: rgb(0, 255, 64);}
#box4
{background-color: blueviolet;}